.blue {
  color: cornflowerblue;
  text-align: center;
  margin-bottom: 2.5rem;
}

.border {
  border: darkgrey;
}
.red {
  color: lightcoral;
  text-align: center;
  margin-bottom: 2.5rem;
}
.container-fluid {
  background-color: whitesmoke;
}
.card-white {
  background: darkgrey;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  border-radius: 49px;
  margin: 40px 40px;
}
.fish {
  background-color: salmon;
}
